<div class="container-fluid" id="divContent">
    <div class="container-main">
        <div class="navbar page-navbar">
            <div>
                <ul class="nav navbar-nav nav-head">
                    <li class="menu-logo">
                        <span class="glyphicon glyphicon-align-justify"> </span>
                    </li>
                    <li class="home-logo"><h3>menu-left-template</h3></li>
                </ul>
                <ul class="nav navbar-nav nav-head navbar-right nav-bar-right-component">
                    <li><span>您好，admin</span></li>
                    <li id="btnRefreshMenu" class="user"><img src="image/exit.svg" /><span>退出</span></li>
                </ul>
            </div>
        </div>
        <div class="page-content-wrap">
            <div class="side-menu"></div>
            <div id="MainBox" class="mainbox"></div>
        </div>
    </div>
</div>
